window {
  background-color: rgba(34, 36, 54, 0.9);
  border-radius: 8px;
  font-size: 18px;
}

#input {
  font-size: 24px;
  color: white;
  padding: 8px;
  margin: 8px;
  margin-top: 0px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
}

#inner-box {
  margin: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}

#outer-box {
  padding: 8px;
  margin: 8px 0;
}

#entry {
  color: white;
  margin: 5px;
  padding: 8px;
}

#entry:selected {
  border-radius: 8px;
}
